{% load static %}
<div id="adduser" class="adduser button_content button_4">
    <div class="container input-container">
            <div class="table-responsive ng-scope " ng-app="myApp" ng-controller="crudController">      
                <div class="form-group ">
                    <label><strong>Select</strong> </label>

                        <div class="col-md-5">
                            <select class="form-control ng-valid ng-valid-required ng-touched ng-dirty ng-valid-parse" ng-model="addData.trainee_instructor"  ng-required="true" id="type" required="required">                                
                            <option value="1">Driver</option>
                            <option value="2">Instructor</option>
                            </select>
                        </div>
                        <label> <strong>Course Id</strong></label>
                    <div class="col-md-4 ">
                        
                        <!-- ngIf: courseIdOption -->
                     <!-- end ngIf: courseIdOption -->
                        <div class="col-md-5" ng-show="courseIdOption">
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Course Id" id="course_id" name="course_id">
                        </div>
                    </div> 
                    <!-- <div class="col-md-4 ">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="Search Army No...">
                        </div>
                    </div> -->
                </div>
        
                <div class="form-group">
                    <div class="col-md-8"></div>  
                </div>

                <div>
                    <table class="display nowrap" id="user_add_form">
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number"  ng-change="changeObj()" onkeypress="if(this.value.length==2) return false;" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="Enter your slno" ng-required="true" required="required" id="serial_number">
                                </td>
                                <td>
                                    <input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="Enter your armyno" ng-required="true" required="required" id="unique_ref_id">
                                </td>                   
                                <td>
                                    <select class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="addData.rank" ng-required="true" id="rank" required="required"><option value="? undefined:undefined ?"></option>    
                                        <option value="Rect">Rect</option>
                                        <option value="SEP">SEP</option>
                                        <option value="L Nk">L Nk</option>
                                        <option value="Nk">Nk</option>
                                        <option value="L Hav">L Hav</option>
                                        <option value="Hav">Hav</option>
                                        <option value="Nb Sub">Nb Sub</option>
                                        <option value="Sub">Sub</option>
                                        <option value="Sub Maj">Sub Maj</option>
                                        <option value="Lt">Lt</option>
                                        <option value="Maj">Maj</option>
                                        <option value="Capt">Capt</option>
                                        <option value="Lt Col">Lt Col</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text"  class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="Enter your name" ng-required="true" required="required" id="name">
                                </td>
                                <td>
                                    <input type="text"  class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="UNIT NAME" ng-required="true" required="required" id="unit">
                                </td>
                                <td>
                                    <button type="submit" id="add_user_submit" class="btn-success btn-sm btn btn-info customClassStartSession center-logo-btn"><em class="glyphicon glyphicon-plus"><img src="{% static 'img/icons8-plus-64.png' %}" alt="img"></em></button>
                                </td>
                            </tr>         
                        </tbody>
                    </table>
                    <table class="display nowrap" id="user_list">
                        <thead>
                        <tr style="background-color:lightgray;">
                            <th width="20%">Serial Number</th>
                            <th>Army Number</th>
                            <th>Rank</th>
                            <th>Name</th>                    
                            <th>Unit</th>               
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                                  <!-- user content -->
                        </tbody>
                    </table>

                </div>        
        </div>
    </div>
</div>