{% include 'base/base.html' %}
        <!-- Sidebar for Buttons and Body for detailsDiv -->
        <div class="row">
            <!-- Sidebar for Buttons -->
            {% include 'index/menu.html' %}
            <!-- Body for detailsDiv -->
            {% include 'index/training.html' %}
            
            {% include 'index/view_report.html' %}

            {% include 'index/all_reports.html' %}

            {% include 'index/add_user.html' %}

            <div id="contact" class="contact button_content button_5">
                <h1>Contacts</h1>
            </div>
        </div>

{% include 'base/footer.html' %}


