{% load static %}
<div class="col-md-3">
    <div id="mainButtonsDiv" class="buttons">
        
            <li data-list="button_1" class="no-bullets">
                <button type="button" class="btn btn-primary btn-square-md" id="btn_starttraining">
                    <img src="{% static 'img/icons8-start-24.png' %}" alt="starttraining"><br><br>Start Training</button>
            </li>
            <li data-list="button_2" class="no-bullets">
                <button type="button" class="btn btn-secondary btn-square-md" id="btn_viewreport">
                    <img src="{% static 'img/icons8-view-24.png' %}" alt="viewport"><br><br>View Report</button>
            </li>
            <li data-list="button_3" class="no-bullets">
                <button type="button" class="btn btn-success btn-square-md" id="btn_allreport">
                    <img src="{% static 'img/icons8-view-all-24.png' %}" alt="allreport"><br><br>All Report</button>
            </li>
            <li data-list="button_4" class="no-bullets">
                <button type="button" class="btn btn-danger btn-square-md" id="btn_adduser">
                    <img src="{% static 'img/icons8-add-user-24.png' %}" alt="adduser"><br><br>Add User</button>
            </li>
            <li data-list="button_5" class="no-bullets">
                <button type="button" class="btn btn-warning btn-square-md" id="btn_contact">
                    <img src="{% static 'img/icons8-call-24.png' %}" alt="contact"><br><br>Contact</button>
            </li>
        <!-- ... (existing buttons) ... -->
    </div>
</div>