<div id="detailsDiv" class="detailsDiv button_content button_1">
    <form action="" method="post" class="form-inline ng-pristine ng-valid">

        <section>
        <div class="form-group marginBottom">    
            <h3>Course ID:</h3>
                    <input type="text" class="form-control" placeholder="Course Ser.no" name="training_course_id" id="training_course_id">
                    
                    <br/> <br/>
                    <section>
                <label>Select Drive Mode:</label>
                <select class="form-control" id="driveMode" name="driveMode">
                <option value="0">EVALUATE</option>
                <option value="1">TRAINING</option></section>
            </select>
            </div>
            </section>

            <section>
            <h3>Instructor</h3>
            <div class="form-group marginBottom">
                    <label for="trainerId">Army No:</label>
                    <input type="text" class="form-control" placeholder="Army No / Sl.no" name="training_trainer_unique_id" id="training_trainer_unique_id">
                    <input type="hidden" name="training_trainer_id" id="training_trainer_id">
                </div>
            <div class="form-group marginBottom">
                    <label for="trainerName">Name:</label>
                    <input type="text" class="form-control" placeholder="Name" name="training_trainer_name" id="training_trainer_name" disabled>
            </div>
            <div class="form-group marginBottom">
                    <label for="trainerRank">Rank:</label>
                    <select class="form-control" id="training_trainer_rank" name="training_trainer_rank" disabled>
                        <option value="Select one ">Select one </option>								
                    <option value="Rect">Rect</option>
                    <option value="SEP">SEP</option>
                    <option value="L Nk">L Nk</option>
                    <option value="Nk">Nk</option>
                    <option value="L Hav">L Hav</option>
                    <option value="Hav">Hav</option>
                    <option value="Nb Sub">Nb Sub</option>
                    <option value="Sub">Sub</option>
                    <option value="Sub Maj">Sub Maj</option>
                    <option value="Lt">Lt</option>
                    <option value="Maj">Maj</option>
                    <option value="Capt">Capt</option>
                    <option value="Lt Col">Lt Col</option>
                </select>
            </div>
            <div class="form-group marginBottom">
                    <label for="TrainerUnit">Unit:</label>
                    <input type="text" class="form-control" placeholder="Unit" name="training_trainer_unit" id="training_trainer_unit" disabled>
            </div>
        </section>

        <section>
            <h3>Driver</h3>
            <div id="driver" class="form-group marginBottom">
                    <label for="traineeId">Army No:</label>
                    <input type="text" class="form-control" placeholder="Army No / Sl.no" name="training_trainee_unique_id" id="training_trainee_unique_id">
                    <input type="hidden" name="training_trainee_id" id="training_trainee_id">
                </div>
            <div class="form-group marginBottom">
                    <label for="traineeName">Name:</label>
                    <input type="text" class="form-control" placeholder="Name" name="training_trainee_name" id="training_trainee_name" disabled>
            </div>
            
            <div class="form-group marginBottom">
                    <label for="traineeRank">Rank:</label>
                    <select class="form-control" id="training_trainee_rank" name="training_trainee_rank" disabled>
                    <option value="Select one ">Select one </option>
                    <option value="Rect">Rect</option>
                    <option value="SEP">SEP</option>
                    <option value="L Nk">L Nk</option>
                    <option value="Nk">Nk</option>
                    <option value="L Hav">L Hav</option>
                    <option value="Hav">Hav</option>
                    <option value="Nb Sub">Nb Sub</option>
                    <option value="Sub">Sub</option>
                    <option value="Sub Maj">Sub Maj</option>
                    <option value="Lt">Lt</option>
                    <option value="Maj">Maj</option>
                    <option value="Capt">Capt</option>
                    <option value="Lt Col">Lt Col</option>
                </select>
            </div>
            <div class="form-group marginBottom">
                    <label for="TraineeUnit">Unit:</label>
                    <input type="text" class="form-control" placeholder="Unit" id="training_trainee_unit" name="training_trainee_unit" disabled>
            </div>
            <br><br>   
            <div class="text-center">
                <button type="button" id="start_session" class="btn btn-info customClassStartSession">Start Session</button>
            </div>
            
        </section> 
        
    </form>
</div>  