
.table_column{
    font-size: 15px;
    text-align: center;
    font-weight: 200px;
}

.table_column1{
    font-size: 15px;
    text-align: left;
    font-weight: 200px;
}

.label_align{
    // margin-left: 20px;
    label{
        padding-right: 50px;
    }
}

.table.table.table-condensed{
    border: none;
}

.back_button{
    width: 30px;
    cursor:pointer;
    margin-right: 35%;

}

.d-flex{
    padding:50px;
}

.print_out{
    width: 30px;
    cursor:pointer;
    float: right;
}

.report{
    text-align: center;
}

@media print {
    .right_sidebar {
      width: 100%;
      box-shadow: none;
    }
    .report {
        display: block;
        text-align: center;
      }
  }