<div id="viewreport"  class="viewreport button_content button_2">
    <h3>View Report</h3>
        <form action="" method="post" class="ng-pristine ng-valid">
            <div class="form-group">
              <label for="trainee_id_report">Trainee Id</label>
              <input type="text" class="form-control" id="trainee_id_report" placeholder="Enter trainee id" name="trainee_id_report">
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-info customClassStartSession" onclick="viewReportDetailsDislay()">Submit</button>
            </div>
            
        </form> <!-- .form -->
</div>