<div class="row">
    <app-header></app-header>
  </div>
<div class="top_header">
    <label style="margin-left: 20px;">Vehicle BA No: </label>
    <label style="text-align: right;">{{getDatetime}}</label>
</div>
<div style="text-align: center;">
    <h3>SIGN IN</h3>
</div>
<div class="d-flex flex-column">
    <div class="row">
        <form [formGroup]="form">
            <div clas="col-12">
                <label class="required">Username</label>
                <input type="text" placeholder="Enter username" class="form-control mb-2" formControlName="username">
                <label class="required">Password</label>
                <input type="password" placeholder="Enter password" class="form-control mb-2" formControlName="password">
            </div>
            <div class="py-3">
                <button type="submit" class="btn btn-primary" (click)="userLogin()">Submit</button>
            </div>
        </form>
    </div>

</div>