<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.3/css/dataTables.jqueryui.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/3.0.1/css/buttons.jqueryui.css"/>
    <link rel="stylesheet" href="//cdn.datatables.net/staterestore/1.4.0/css/stateRestore.jqueryui.css"/>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.jqueryui.js"></script>
    <script src="https://cdn.datatables.net/staterestore/1.4.0/js/dataTables.stateRestore.js"></script>
    <script src="https://cdn.datatables.net/staterestore/1.4.0/js/stateRestore.jqueryui.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.jqueryui.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/add_user.js' %}"></script>
    <script src="{% static 'js/training.js' %}"></script>
    
    <script>
        $(document).ready(function(){
            
            $(".button_content").hide();
            $(".button_1").show();

            $("li").click(function(){
                $("li").removeClass("active");
                $(this).addClass("active");

                var current_tab_value = $(this).attr("data-list");
                $(".button_content").hide();
                $("."+current_tab_value).show();
            });
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row">
            <div class="col-12">
                <div class="header">
                    <img src="{% static 'img/army_logo_1.jpg' %}" class="header-logo left" alt="army_logo_1">
                    <div class="header-content">
                        <h3>DRIVING SCHOOL</h3>
                        <p>TRAINING TESTING AND EVALUATION SYSTEM</p>
                    </div>
                    <img src="{% static 'img/army_logo_2.jpg' %}" class="header-logo right" alt="army_logo_2">
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="footer"> 
            Smart Skill Driving Technology By | FIRST2SERVE.com | Mob: 99000 99100
    </footer>
 </body>
 </html>