
.btn{
    padding:0 0 !important;
}

.d-flex {
    align-items: center;
    gap: 10px;
    list-style-type: none;
    background-color: #ffffff;
}

.btn img {
    float:left;
    margin-left: 4px;
}

.button-text {
    float:left;
    margin-left: 7px;
    margin-top: 3px;
    font-size: 11px;
}