
<div class="d-flex flex-column">
    <li data-list="button_1">
        <button type="button" class="btn btn-primary btn-square-md" routerLink="/training" id="btn_starttraining">
            <img src="./assets/images/wheel.png" style="width: 33px;" alt="starttraining"><br>Start <br>Training</button>
    </li>
    <li data-list="button_2">
        <button type="button" class="btn btn-primary btn-square-md" routerLink="/view_report" id="btn_viewreport">
            <img src="./assets/images/icons8-view-24.png" style="width: 33px;" alt="viewport"><br>Individual <br>Report</button>
    </li>
    <li data-list="button_3">
        <button type="button" class="btn btn-primary btn-square-md" routerLink="/all_reports" id="btn_allreport">
            <img src="./assets/images/icons8-view-all-24.png" style="width: 33px;" alt="allreport"><br>Final Report</button>
    </li>
    <li data-list="button_4">
        <button type="button" class="btn btn-primary btn-square-md" routerLink="/add_user" id="btn_adduser">
            <img src="./assets/images/icons8-add-user-24.png" style="width: 33px;" alt="adduser"><br>Add User</button>
    </li>
    <li data-list="button_5">
        <button type="button" class="btn btn-primary btn-square-md" routerLink="/contact" id="btn_contact">
            <img src="./assets/images/icons8-call-24.png" style="width: 33px;" alt="contact"><br>Support</button>
    </li>
    <li data-list="button_5">
        <button type="button" class="btn btn-primary btn-square-md" (click)="logout()" id="btn_contact">
            <img src="./assets/images/logout.png" style="width: 30px;" alt="contact"><br>Logout</button>
    </li>
</div>
