<div class="row">
    <app-header></app-header>
</div>
<div class="flex-container">
  <div class="menubar">
    <app-menubar></app-menubar>
  </div>
  <div class="right_sidebar">
    <div *ngIf="!startsession">
        <form [formGroup]="ins_form">
            <div class="row py-2">
                <div class="col-3">
                    <label class="required">Course ID</label>
                    <input type="text" (keydown.enter)="onSearchChangeCourse()" (change)="onSearchChangeCourse()" placeholder="Course ID" class="form-control" formControlName="course"/>
                    <!-- <input type="text" placeholder="Course ID" (input)="onSearchChange()" class="form-control" formControlName="course"/>
                    <div class="autocomplete-container">
                      <div class="autocomplete-items" *ngIf="filteredOptions.length">
                        <div class="autocomplete-item" *ngFor="let option of filteredOptions" (click)="selectOption(option.name)">
                          {{ option.name }}
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="col-3">
                    <label class="required">Select Drive Mode</label>
                    <select class="form-select" formControlName="mode">
                        <option value="0">Evaluate</option>
                        <option value="1">Training</option>
                    </select>             
                </div>
            </div>
            <div class="row py-2">
                <label style="font-size: 25px;">Instructor</label>
                <div class="col-3">
                    <label class="required">Army No</label>
                    <input type="text" (keydown.enter)="onSearchChangeIns()" (change)="onSearchChangeIns()" placeholder="Army no / Sl.no" class="form-control" formControlName="unique_ref_id"/>
                    <!-- <input type="text" placeholder="Army no / Sl.no" class="form-control" formControlName="unique_ref_id" (input)="onSearchChangeIns()">
                    <div class="autocomplete-container">
                      <div class="autocomplete-items" *ngIf="filteredInsOptions.length">
                        <div class="autocomplete-item" *ngFor="let option of filteredInsOptions" (click)="selectOptionIns(option.unique_ref_id)">
                          {{ option.unique_ref_id }}
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="col-3">
                    <label>Name</label>
                    <input type="text" placeholder="Name" class="form-control" style="background-color: #eeeef3;" formControlName="name" readonly>
                </div>
                <div class="col-3">
                    <label>Rank</label>
                    <select class="form-select" formControlName="rank" style="background-color: #eeeef3;pointer-events: none;">
                        <option value="" disabled selected hidden>Rank</option>
                        <option *ngFor="let rank of ranks" [value]="rank">{{ rank }}</option>
                      </select>
                </div>
                <div class="col-3">
                    <label>Unit</label>
                    <input type="select" placeholder="Unit" class="form-control" style="background-color: #eeeef3;" formControlName="unit" readonly>
                </div>     
            </div>
            <div class="row py-2"  [formGroup]="driver_form">
                <label style="font-size: 25px;">Driver</label>
                <div class="col-3">
                    <label class="required">Army No</label>
                    <input type="text" (keydown.enter)="onSearchChangeDri()" (change)="onSearchChangeDri()" placeholder="Army no / Sl.no" class="form-control" formControlName="unique_ref_id"/>
                    <!-- <input type="text" placeholder="Army no / Sl.no" class="form-control" formControlName="unique_ref_id" (input)="onSearchChangeDri()">
                    <div class="autocomplete-container">
                      <div class="autocomplete-items" *ngIf="filteredDriOptions.length">
                        <div class="autocomplete-item" *ngFor="let option of filteredDriOptions" (click)="selectOptionDri(option.unique_ref_id)">
                          {{ option.unique_ref_id }}
                        </div>
                      </div>
                    </div> -->
                </div>
                <div class="col-3">
                    <label>Name</label>
                    <input type="text" placeholder="Name" class="form-control" style="background-color: #eeeef3;" formControlName="name" readonly>
                </div>
                <div class="col-3">
                    <label>Rank</label>
                    <select class="form-select" formControlName="rank" style="background-color: #eeeef3;pointer-events: none;">
                        <option value="" disabled selected hidden>Rank</option>
                        <option *ngFor="let rank of ranks" [value]="rank">{{ rank }}</option>
                      </select>
                </div>
                <div class="col-3">
                    <label>Unit</label>
                    <input type="select" placeholder="Unit" class="form-control" style="background-color: #eeeef3;" formControlName="unit" readonly>
                </div>     
            </div>
            <div class="col-12 text-center py-4">
                <button type="button" class="btn btn-primary" appPreventEnterButton (click)="fetchObstacle()">Ready</button>
            </div>   
        </form>
    </div>
    <div *ngIf="startsession">
        <div class="mb-2">
            <img src="./assets/images/back_button.png" class="back_button" (click)="startsession=false">
            <!-- <label style="text-align: center;">Report ID: 111</label> -->
            <img src="./assets/images/printout.png" class="print_out" (click)="generatePDF()">
        </div>
        
        <div class="label_align">
          <label style="font-size: 20px;color: red;">Trainee:</label>
            <label>Army No: {{driver_form.value['unique_ref_id']}}</label>
            <label>Rank: {{driver_form.value['rank']}}</label>
            <label>Name: {{driver_form.value['name']}}</label>
            <label>Unit: {{driver_form.value['unit']}}</label>
            <label>Course ID: {{ins_form.value['type']}}</label>
            <label>Time Taken: {{ getTotalTimeTaken() }}</label>
        </div>  
        
        <div class="label_align">
          <label style="font-size: 20px;color: red;">Instructor:</label>
            <label>Army No: {{ins_form.value['unique_ref_id']}}</label>
            <label>Rank: {{ins_form.value['rank']}}</label>
            <label>Name: {{ins_form.value['name']}}</label>
            <label>Unit: {{ins_form.value['unit']}}</label>
        </div>  
        <div class="row mt-3">
            <div *ngIf="!stop_test" class="col-12 text-center">
                <button type="submit" class="btn btn-success" (click)="fetchSessionID();">Start</button>
            </div>
            <div *ngIf="stop_test" class="col-12 text-center">
                <button type="submit" class="btn btn-danger" (click)="stopTest()">Stop</button>
            </div>
        </div>
        <div class="row py-3">
            <table class="table table-responsive table-striped" id="tableDataID">
                <thead class="table_column">
                    <tr>
                      <th style="text-align: center">Sl.no</th>
                      <th>Obstacle Name</th>
                      <th>Tasks</th>
                      <th>Result</th>
                      <th style="text-align: center">Speed (km/h)/Time Taken</th>
                      <th style="text-align: center">Marks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let data of obstacles; let i=index">
                        <tr>
                          <td style="text-align: center">{{ i + 1 }}.</td>
                          <td [style.color]="getObsColor(data.result)">{{ data.name }}</td>
                          <td>
                            <ng-container *ngFor="let i of data.obstacletaskscore_set; let idx = index">
                              <span [style.color]="getColor(i.result)">
                                {{ getDisplayText(i) }}
                              </span>
                              <span *ngIf="(idx + 1) % 3 !== 0 && idx !== data.obstacletaskscore_set.length - 1"> | </span>
                              <br *ngIf="(idx + 1) % 3 === 0 && idx !== data.obstacletaskscore_set.length - 1">
                            </ng-container>
                          </td>
                          <ng-container *ngIf="report.length==0">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </ng-container>
                          <ng-container *ngFor="let item of report">
                            <ng-container *ngIf="data.id === item.id">
                              <td [style.color]="item.result === 1 ? 'green' : 'red'">{{item.result == 1 ? 'Pass' : 'Fail'}}</td>
                              <td style="text-align: center">{{item.speed}} / {{item.obstacle_duration}}</td>
                              <td style="text-align: center">{{item.obtained_marks}} / {{item.total_marks}}</td>
                              <td></td>                          
                            </ng-container>                           
                          </ng-container>
                          <ng-container *ngIf="report.length != 0 && !hasDataForReportItem(data.id)">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </ng-container>
                        </tr>
                      </ng-container>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td></td>
                      <td>Total Speed / Time Taken</td>
                      <td></td>
                      <td></td>
                      <td style="text-align: center">{{ getSpeed() }} / {{getTotalTimeTaken() }}</td>
                      <td style="text-align: center">{{getTotalTimeMarks()}}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Total Marks</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td style="text-align: center">{{ getTotalObtainedMarks() }} / {{getTotalMarks()}}</td>
                      <td></td>
                    </tr>
                  </tfoot>
            </table>
        </div>
    </div>
  </div>

  <!--PDF-->
  <div id="reportContent" style="position: absolute; left: -9999px;">
    <div class="row" style="border-bottom: 1px solid rgb(178, 177, 177);">
      <app-header></app-header>
  </div>
  <!-- <div class="mt-2" style="margin-left: 20px;">
      <p style="text-align: center;">Report ID: {{report_id}}</p>
  </div> -->
    
    <div class="label_align">
        <label style="font-size: 20px;color: red;">Trainee:</label>
        <label>Army No: {{driver_form.value['unique_ref_id']}}</label>
        <label>Rank: {{driver_form.value['rank']}}</label>
        <label>Name: {{driver_form.value['name']}}</label>
        <label>Unit: {{driver_form.value['unit']}}</label>
        <label>Course ID: {{ins_form.value['type']}}</label>
        <label>Time Taken: {{ getTotalTimeTaken() }}</label>
    </div>  
    <div class="label_align">
    <label style="font-size: 20px;color: red;">Instructor:</label>
        <label>Army No: {{ins_form.value['unique_ref_id']}}</label>
        <label>Rank: {{ins_form.value['rank']}}</label>
        <label>Name: {{ins_form.value['name']}}</label>
        <label>Unit: {{ins_form.value['unit']}}</label>
    </div>  
    <div class="row py-3">
      <table class="table table-responsive table-striped" id="tableDataID">
          <thead class="table_column">
              <tr>
                <th style="text-align: center">Sl.no</th>
                <th>Obstacle Name</th>
                <th>Tasks</th>
                <th>Result</th>
                <th style="text-align: center">Speed (km/h)/Time Taken</th>
                <th style="text-align: center">Marks</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of obstacles; let i=index">
                  <tr>
                    <td style="text-align: center">{{ i + 1 }}.</td>
                    <td [style.color]="getObsColor(data.result)">{{ data.name }}</td>
                    <td>
                      <ng-container *ngFor="let i of data.obstacletaskscore_set; let idx = index">
                        <span [style.color]="getColor(i.result)">
                          {{ getDisplayText(i) }}
                        </span>
                        <span *ngIf="(idx + 1) % 3 !== 0 && idx !== data.obstacletaskscore_set.length - 1"> | </span>
                        <br *ngIf="(idx + 1) % 3 === 0 && idx !== data.obstacletaskscore_set.length - 1">
                      </ng-container>
                    </td>
                    <ng-container *ngIf="report.length==0">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </ng-container>
                    <ng-container *ngFor="let item of report">
                      <ng-container *ngIf="data.id === item.id">
                        <td [style.color]="item.result === 1 ? 'green' : 'red'">{{item.result == 1 ? 'Pass' : 'Fail'}}</td>
                        <td style="text-align: center">{{item.speed}} / {{item.obstacle_duration}}</td>
                        <td style="text-align: center">{{item.obtained_marks}} / {{item.total_marks}}</td>
                        <td></td>                          
                      </ng-container>                           
                    </ng-container>
                    <ng-container *ngIf="report.length != 0 && !hasDataForReportItem(data.id)">
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </ng-container>
                  </tr>
                </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td>Total Speed / Time Taken</td>
                <td></td>
                <td></td>
                <td style="text-align: center">{{ getSpeed() }} / {{getTotalTimeTaken() }}</td>
                <td style="text-align: center">{{getTotalTimeMarks()}}</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td>Total Marks</td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: center">{{ getTotalObtainedMarks() }} / {{getTotalMarks()}}</td>
                <td></td>
              </tr>
            </tfoot>
      </table>
  </div>
  </div>

</div>