
.table_column{
    font-size: 18px;
    text-align: left;
    font-weight: 200px;
}

.label_align{
    // margin-left: 20px;
    label{
        padding-right: 30px;
    }
}

.table.table.table-condensed{
    border: none;
}

.back_button{
    width: 30px;
    cursor:pointer;
}

.d-flex{
    padding:50px;
}

.print_out{
    width: 30px;
    cursor:pointer;
    float: right;
}

@media print {
    .right_sidebar {
      width: 100%;
      box-shadow: none;
    }
  }