
.table_column{
    font-size: 18px;
    text-align: center;
    font-weight: 200px;
}

.table.table.table-condensed{
    border: none;
}

.back_button{
    width: 30px;
    cursor:pointer;
}

.d-flex{
    padding:50px;
}

.print_out{
    width: 30px;
    cursor:pointer;
    float: right;
}

@media print {
    .right_sidebar {
      width: 100%;
      box-shadow: none;
      padding: 0px;
    }
    .label_align{
        border-top: 1px solid rgb(178, 177, 177);
        margin-top: -40px;
    }
    .mtop{
        margin-top: -25px;
    }
  }

.label_align {
    border-collapse: collapse;
    width: 100%; 
    font-family: Arial, sans-serif;
    th, td {
        border: none;
        text-align: left;
        padding: 0px;
    }
}

  