.table{
    th{
        text-align: center;
    }
}

.action_button{
    width:30px;
    margin-left: 30px;
    cursor: pointer;
}

.action_button:hover {
    background-color: #c7cbd0; /* Dark blue background on hover */
    color: white;
}

.d-flex{
    min-width: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #f1f1f1;
    padding: 20px;
}