<div class="row py-3">
    <h3 style="text-align: center;color:#428bca;">5685 ASC BN,HALDWANI UTTRAKHAND
        INDOMITABLE SMART SKILL DRIVING TRACK - <span style="color: red;">LIVE</span></h3>
</div>
<div class="row">
    <div class="col-4">
        <img src="./assets/images/live_image.png" alt="army_logo_1" style="width: 103%;">

    </div>
    <div class="col" style="margin-left: -11px;">
        <table class="table" style="font-size: 15px;">
            <thead>
              <tr>
                <th class="thead-bg">PLATOON NO</th>
                <th class="thead-bg">RECRUIT ARMY NO</th>
                <th class="thead-bg">NAME</th>
                <th class="thead-bg">INSTRUCTOR ARMY NO</th>
                <th class="thead-bg">NAME</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: center;">
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
              </tr>
            </tbody>
          </table>
        
          <table class="table" style="font-size: 15px;">
            <thead>
              <tr>
                <th class="thead-bg">OBSTACLES</th>
                <th class="thead-bg">STATUS</th>
                <th class="thead-bg" colspan="3">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: center;">
                <td>Mark</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>


  
