.thead-bg {
    background-color:#B1A0C7; /* Change this to your desired color */
    color:white;
    text-align: center;
  }

.d-flex{
    background-color: #ffffff;
    margin: 0px;
}

.container{
    display:flex;
    background-color: #ffffff;
    justify-content: space-between;
}